.content__container {
	@include container();
}
h2 {
	&:after {
		content:'';
		display: inline-block;
		border:1px solid #fff;
	}
}
@keyframes animator {
	0% {
		background:#24ce1d;
		transform:rotate(360deg);
	}
	100% {
		background:#2196f3;
		border-radius: 50%;
	}
}
.content--love {
	text-align: center;
	.content__item {
		display: inline-block;
	}
	.content__animator {
		width:44px;
		height:44px;
		background:#24ce1d;
		&:hover {
			animation: animator 2000ms linear forwards;
		}
	}
}