html {
	min-height:100vh;
	z-index: 1;
	display:block;
	background: #2196f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #2196f3 0%, #8f6b92 50%, #f44336 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2196f3 0%,#8f6b92 50%,#f44336 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2196f3 0%,#8f6b92 50%,#f44336 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#f44336',GradientType=0 ); /* IE6-9 */
	@include media('>=tablet') {
		background: #2196f3; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #2196f3 0%, #f44336 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #2196f3 0%,#f44336 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #2196f3 0%,#f44336 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#f44336',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}
body {
	font-family:'Roboto',arial,helvetica;
	color:#fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 22px;
	background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center;
}
main {
	@include clearfix;
	@include container();
	background:#fff;
	color:#312f2f;
	margin-bottom:60px;
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
	.content__inner {
		padding:25px 40px;
		@include media('>=tablet') {
			padding:60px 50px;
		}
	}
}
a {
	color:#eee;
}
input[type="checkbox"] {
	display:none;
}
::-moz-selection {
	color:#fff;
	background:#8f6b92;
}
::selection {
	color:#fff;
	background:#8f6b92;
}
*, *:after, *:before {
    box-sizing: inherit;
}