html {
	min-height:100vh;
	z-index: 1;
	display:block;
	background: #2196f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #2196f3 0%, #8f6b92 50%, #f44336 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2196f3 0%,#8f6b92 50%,#f44336 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2196f3 0%,#8f6b92 50%,#f44336 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#f44336',GradientType=0 ); /* IE6-9 */
	@include media('>=tablet') {
		background: #2196f3; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #2196f3 0%, #f44336 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #2196f3 0%,#f44336 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #2196f3 0%,#f44336 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#f44336',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}
body {
	font-family:Lato, arial;
	font-weight:400;
	color:#fff;
	font-size:14px;
	line-height:28px;
}
main {
	@include clearfix;
}
a {
	color:#eee;
}
input[type="checkbox"] {
	display:none;
}
::-moz-selection {
	color:#fff;
	background:#8f6b92;
}
::selection {
	color:#fff;
	background:#8f6b92;
}